# Regressao - Base Automóveis

Base de dados: https://archive.ics.uci.edu/dataset/53/iris

## Importando bibliotecas

In [5]:
!pip install -q tensorflow==2.16.1

In [6]:
# Importacao desta lib para desativar erro no TensorFlow
import os
os.environ["CUDA_VISIBLE_DEVICES"] = "-1"

In [7]:
import pandas as pd
import tensorflow as tf
import sklearn

In [8]:
pd.__version__,tf.__version__,sklearn.__version__

('2.2.2', '2.16.1', '1.4.2')

In [9]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

## Importando base de dados

In [59]:
base = pd.read_csv('autos.csv', encoding='ISO-8859-1')

In [60]:
base.head(5)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

## Tratando base de dados

### Apagando dados não relevantes

In [61]:
base = base.drop('dateCrawled',axis=1)
base = base.drop('dateCreated',axis=1)
base = base.drop('nrOfPictures',axis=1)
base = base.drop('lastSeen',axis=1)
base = base.drop('postalCode',axis=1)

In [63]:
base.head(5)

,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein

In [64]:
base.shape

(371528, 15)

In [65]:
base['name'].value_counts()

name
Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Audi_A4_Avant_Klima_Gruene_Plakette_TÜV_&AU_NEU_XENON      1
Renault_clio_in_gold_450VB_!!                              1
Fiat_Doblo_1.6_Multijet                                    1
Renault_Laguna_1                                           1
BMW_M135i_vollausgestattet_NP_52.720____Euro               1
Name: count, Length: 233531, dtype: int64

Como há 233531 itens com total de 1 no name, podemos pensar que este name seja o titulo do anuncio, e sendo assim, o algoritmo não irá se adaptar bem. Podemos excluir esta coluna, e se referenciar à coluna Brand

In [66]:
base = base.drop('name',axis=1)

In [67]:
base['seller'].value_counts()

seller
privat        371525
gewerblich         3
Name: count, dtype: int64

Como praticamente quase todos registros são vendedores privados, esta coluna é irrelevante para o algoritmo

In [68]:
base = base.drop('seller',axis=1)

In [69]:
base['offerType'].value_counts()

offerType
Angebot    371516
Gesuch         12
Name: count, dtype: int64

Como praticamente quase todos registros são vendedores privados, esta coluna é irrelevante para o algoritmo

In [70]:
base = base.drop('offerType',axis=1)

In [71]:
base

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

### Analise de valores inconsistentes

In [72]:
base.loc[base['price'] <= 10]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
7,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,1,benzin,opel,NaN
60,1,control,suv,1994,manuell,286,NaN,150000,11,NaN,sonstige_autos,NaN
91,1,control,limousine,1995,manuell,113,e_klasse,150000,4,diesel,mercedes_benz,nein
115,0,test,NaN,2017,manuell,0,golf,5000,12,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371356,0,control,NaN,2000,manuell,65,corsa,150000,0,NaN,opel,ja
371392,0,test,kleinwagen,2002,manuell,60,fiesta,150000,3,benzin,ford,NaN
371402,0,control,kleinwagen,1999,manuell,53,swift,150000,3,benzin,suzuki,NaN
371431,0,control,kleinwagen,1999,manuell,37,arosa,150000,7,benzin,seat,ja
371522,0,control,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja

Os prices acima podem ter sido extraidos de forma equivocada, logo podemos substituir estes registros pela média de prices geral. **Porém** como são mais de 12k de registros, isso pode não ser bom, o ideal é deleta-los. **Valores abaixo de 10**

In [73]:
base['price'].mean()

17295.14186548524

In [74]:
base.shape

(371528, 12)

In [75]:
base = base[base['price'] > 10]

In [76]:
base.shape

(359410, 12)

In [77]:
base.loc[base['price'] > 350000]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1846,579000,control,coupe,1980,manuell,277,andere,20000,12,benzin,bmw,nein
10649,420000,control,coupe,2004,manuell,483,911,50000,4,benzin,porsche,nein
14663,11111111,control,coupe,2003,manuell,64,polo,150000,2,benzin,volkswagen,NaN
16889,1000000,control,kombi,1998,NaN,0,mondeo,150000,0,benzin,ford,ja
20143,1250000,test,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
364171,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein
365461,599000,control,coupe,1980,manuell,377,andere,5000,3,benzin,bmw,nein
366653,99999999,control,cabrio,1996,manuell,192,3er,150000,0,NaN,bmw,NaN
366861,3895000,test,coupe,2006,NaN,799,NaN,5000,4,benzin,sonstige_autos,nein
367041,1600000,test,coupe,2005,NaN,625,NaN,10000,4,benzin,sonstige_autos,nein

Os prices acima podem ter sido extraidos de forma equivocada, logo podemos substituir estes registros pela média de prices geral. **Porém** como são mais de 12k de registros, isso pode não ser bom, o ideal é deleta-los. **Valores acima de 350k**

In [78]:
base = base.loc[base['price'] < 350000]

In [79]:
base.shape

(359291, 12)

### Valores faltantes

In [80]:
base.loc[pd.isnull(base['vehicleType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
22,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
31,899,control,NaN,2016,manuell,60,clio,150000,6,benzin,renault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

Em valores números faltantes, é normal ser substituido os faltantes pela média. No caso de dados categóricos, do vehicleType, pode-se preencher os NaN com a moda

In [81]:
base['vehicleType'].value_counts()

vehicleType
limousine     93614
kleinwagen    78014
kombi         65921
bus           29699
cabrio        22509
coupe         18386
suv           14477
andere         3125
Name: count, dtype: int64

In [82]:
base['vehicleType'].mode()

0    limousine
Name: vehicleType, dtype: object

In [83]:
base.loc[pd.isnull(base['gearbox'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
15,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
32,245,test,limousine,1994,NaN,0,golf,150000,2,benzin,volkswagen,nein
37,1500,test,NaN,2016,NaN,0,kangoo,150000,1,diesel,renault,nein
70,1200,test,coupe,2001,NaN,0,astra,150000,0,NaN,opel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371443,3300,control,kombi,2006,NaN,0,touran,150000,7,diesel,volkswagen,NaN
371460,3500,control,NaN,1995,NaN,0,polo,150000,0,NaN,volkswagen,NaN
371486,350,control,kleinwagen,1996,NaN,65,punto,150000,0,NaN,fiat,NaN
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [84]:
base['gearbox'].value_counts()

gearbox
manuell      266547
automatik     75508
Name: count, dtype: int64

In [85]:
base.loc[pd.isnull(base['model'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
83,350,control,kleinwagen,1997,manuell,54,NaN,150000,3,NaN,fiat,ja
139,1450,control,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein
156,6799,control,kleinwagen,2009,NaN,60,NaN,20000,5,benzin,volkswagen,nein
165,500,control,kleinwagen,1999,manuell,0,NaN,150000,0,benzin,renault,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371399,560,control,kleinwagen,2001,automatik,170,NaN,90000,0,benzin,fiat,ja
371476,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [86]:
base['model'].value_counts()

model
golf               28989
andere             25560
3er                19905
polo               12604
corsa              12149
                   ...
serie_2                8
rangerover             6
serie_3                3
serie_1                1
discovery_sport        1
Name: count, Length: 251, dtype: int64

In [87]:
base.loc[pd.isnull(base['fuelType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
13,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
36,1600,control,andere,1991,manuell,75,kadett,70000,0,NaN,opel,NaN
41,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371496,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [88]:
base['fuelType'].value_counts()

fuelType
benzin     217582
diesel     106002
lpg          5222
cng           557
hybrid        271
andere        165
elektro       101
Name: count, dtype: int64

In [89]:
base.loc[pd.isnull(base['notRepairedDamage'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
8,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
12,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371507,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN
371514,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN
371515,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN

In [90]:
base['notRepairedDamage'].value_counts()

notRepairedDamage
nein    259301
ja       34004
Name: count, dtype: int64

In [91]:
valores = {
    'vehicleType': 'limousine',
    'gearbox':'manuell',
    'model':'golf',
    'fuelType':'benzin',
    'notRepairedDamage':'nein'
}

In [92]:
base = base.fillna(value = valores)

In [93]:
base

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,nein
1,18300,test,coupe,2011,manuell,190,golf,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,nein
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,limousine,2005,manuell,0,golf,20000,1,benzin,sonstige_autos,nein
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,nein
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [94]:
base.isnull()

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,False,False,False,False,False,False,False,False,False,False,False,False
371524,False,False,False,False,False,False,False,False,False,False,False,False
371525,False,False,False,False,False,False,False,False,False,False,False,False
371526,False,False,False,False,False,False,False,False,False,False,False,False
371527,False,False,False,False,False,False,False,False,False,False,False,False

In [95]:
base.isnull().sum()

price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

In [96]:
base.columns

Index(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage'],
      dtype='object')

In [99]:
X = base.iloc[:,1:12].values
X

array([['test', 'limousine', 1993, ..., 'benzin', 'volkswagen', 'nein'],
       ['test', 'coupe', 2011, ..., 'diesel', 'audi', 'ja'],
       ['test', 'suv', 2004, ..., 'diesel', 'jeep', 'nein'],
       ...,
       ['test', 'bus', 1996, ..., 'diesel', 'volkswagen', 'nein'],
       ['test', 'kombi', 2002, ..., 'diesel', 'volkswagen', 'nein'],
       ['control', 'limousine', 2013, ..., 'benzin', 'bmw', 'nein']],
      dtype=object)

In [102]:
y = base.iloc[:,0].values
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990])

### Atributos categóricos

In [103]:
base['brand'].value_counts()

brand
volkswagen        76755
bmw               38982
opel              38557
mercedes_benz     34498
audi              31884
ford              24761
renault           17367
peugeot           10777
fiat               9339
seat               6815
skoda              5572
mazda              5529
smart              5159
citroen            5038
nissan             4893
toyota             4616
hyundai            3585
mini               3354
sonstige_autos     3331
volvo              3229
mitsubishi         2956
honda              2726
kia                2494
suzuki             2274
alfa_romeo         2250
porsche            2154
chevrolet          1791
chrysler           1373
dacia               889
jeep                784
daihatsu            774
land_rover          759
subaru              746
jaguar              603
daewoo              530
saab                516
trabant             489
lancia              467
rover               462
lada                213
Name: count, dtype: int64

In [104]:
onehotencoder = ColumnTransformer(transformers=[("OneHot",OneHotEncoder(),[0,1,3,5,8,9,10])],remainder='passthrough') # Neste array são passados os campos categoricos

In [105]:
X = onehotencoder.fit_transform(X).toarray()
X

array([[0.00e+00, 1.00e+00, 0.00e+00, ..., 0.00e+00, 1.50e+05, 0.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.90e+02, 1.25e+05, 5.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.63e+02, 1.25e+05, 8.00e+00],
       ...,
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.02e+02, 1.50e+05, 3.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.00e+02, 1.50e+05, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 3.20e+02, 5.00e+04, 8.00e+00]])

In [106]:
base.shape

(359291, 12)

In [107]:
X.shape

(359291, 316)

## Estrutura da rede neural

In [108]:
# Para calcular a quantidade de neuronios na camada dense
# é a soma de entradas + saidas / 2
(316 + 1) / 2

158.5

In [109]:
regressor = Sequential([
    tf.keras.layers.InputLayer(shape=(316,)),
    tf.keras.layers.Dense(units = 158, activation = 'relu'),
    tf.keras.layers.Dense(units = 158, activation = 'relu'),
    tf.keras.layers.Dense(units = 1, activation = 'linear'),
])

In [110]:
regressor.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 158)            │        50,086 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 158)            │        25,122 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │           159 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 75,367 (294.40 KB)

 Trainable params: 75,367 (294.40 KB)

 Non-trainable params: 0 (0.00 B)

In [111]:
regressor.compile(loss='mean_absolute_error', optimizer = 'adam', metrics = ['mean_absolute_error'])

In [112]:
regressor.fit(X,y, batch_size = 300, epochs=100)

Epoch 1/100

2024-11-25 19:04:07.929526: W external/local_tsl/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 454143824 exceeds 10% of free system memory.

1198/1198 ━━━━━━━━━━━━━━━━━━━━ 8s 5ms/step - loss: 4282.7051 - mean_absolute_error: 4282.7051
Epoch 2/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 3436.4104 - mean_absolute_error: 3436.4104
Epoch 3/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 3207.3306 - mean_absolute_error: 3207.3303
Epoch 4/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 3022.9973 - mean_absolute_error: 3022.9973
Epoch 5/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2930.4392 - mean_absolute_error: 2930.4392
Epoch 6/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2836.2195 - mean_absolute_error: 2836.2195
Epoch 7/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2783.9683 - mean_absolute_error: 2783.9683
Epoch 8/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2738.3218 - mean_absolute_error: 2738.3218
Epoch 9/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2683.1416 - mean_absolute_error: 2683.1416
Epoch 10/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2606.0889 - mean_absolute_error: 2606.0889
Epoch 11/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 2602.1577 - mean_absolute_error: 2602.1577
Epoch 12/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2550.4470 - mean_absolute_error: 2550.4470
Epoch 13/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2540.0649 - mean_absolute_error: 2540.0649
Epoch 14/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2491.5427 - mean_absolute_error: 2491.5427
Epoch 15/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2489.2603 - mean_absolute_error: 2489.2603
Epoch 16/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2478.2407 - mean_absolute_error: 2478.2407
Epoch 17/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2434.2378 - mean_absolute_error: 2434.2378
Epoch 18/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2435.5095 - mean_absolute_error: 2435.5095
Epoch 19/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2427.4658 - mean_absolute_error: 2427.4658
Epoch 20/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 5ms/step - loss: 2387.2959 - mean_absolute_error: 2387.2959
Epoch 21/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2391.5132 - mean_absolute_error: 2391.5132
Epoch 22/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 5ms/step - loss: 2407.1533 - mean_absolute_error: 2407.1533
Epoch 23/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2411.3325 - mean_absolute_error: 2411.3325
Epoch 24/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2395.6614 - mean_absolute_error: 2395.6614
Epoch 25/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2383.7849 - mean_absolute_error: 2383.7849
Epoch 26/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 2369.6836 - mean_absolute_error: 2369.6836
Epoch 27/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2378.1602 - mean_absolute_error: 2378.1602
Epoch 28/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - loss: 2386.5657 - mean_absolute_error: 2386.5657
Epoch 29/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2344.2410 - mean_absolute_error: 2344.2410
Epoch 30/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2354.4734 - mean_absolute_error: 2354.4734
Epoch 31/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 6ms/step - loss: 2372.7949 - mean_absolute_error: 2372.7949
Epoch 32/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 7s 5ms/step - loss: 2382.6169 - mean_absolute_error: 2382.6169
Epoch 33/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 2351.8135 - mean_absolute_error: 2351.8132
Epoch 34/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 2332.4578 - mean_absolute_error: 2332.4578
Epoch 35/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2359.4866 - mean_absolute_error: 2359.4868
Epoch 36/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2342.8655 - mean_absolute_error: 2342.8655
Epoch 37/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2346.6772 - mean_absolute_error: 2346.6772
Epoch 38/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2352.3057 - mean_absolute_error: 2352.3057
Epoch 39/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2334.3181 - mean_absolute_error: 2334.3179
Epoch 40/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2361.3342 - mean_absolute_error: 2361.3342
Epoch 41/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2335.7043 - mean_absolute_error: 2335.7043
Epoch 42/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2366.7300 - mean_absolute_error: 2366.7300
Epoch 43/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2329.5688 - mean_absolute_error: 2329.5688
Epoch 44/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2319.5430 - mean_absolute_error: 2319.5430
Epoch 45/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2320.3601 - mean_absolute_error: 2320.3601
Epoch 46/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2335.9968 - mean_absolute_error: 2335.9968
Epoch 47/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2302.1960 - mean_absolute_error: 2302.1960
Epoch 48/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2331.0640 - mean_absolute_error: 2331.0640
Epoch 49/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2306.3240 - mean_absolute_error: 2306.3240
Epoch 50/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2314.3035 - mean_absolute_error: 2314.3035
Epoch 51/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2288.1099 - mean_absolute_error: 2288.1099
Epoch 52/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2316.7705 - mean_absolute_error: 2316.7705
Epoch 53/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2317.7327 - mean_absolute_error: 2317.7327
Epoch 54/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2300.8044 - mean_absolute_error: 2300.8044
Epoch 55/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2297.9851 - mean_absolute_error: 2297.9851
Epoch 56/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2315.6914 - mean_absolute_error: 2315.6914
Epoch 57/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2316.8198 - mean_absolute_error: 2316.8198
Epoch 58/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2314.5500 - mean_absolute_error: 2314.5500
Epoch 59/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2293.8989 - mean_absolute_error: 2293.8989
Epoch 60/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2295.1516 - mean_absolute_error: 2295.1516
Epoch 61/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2280.1267 - mean_absolute_error: 2280.1267
Epoch 62/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2296.7158 - mean_absolute_error: 2296.7158
Epoch 63/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2288.2920 - mean_absolute_error: 2288.2917
Epoch 64/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2310.8730 - mean_absolute_error: 2310.8730
Epoch 65/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2286.1631 - mean_absolute_error: 2286.1631
Epoch 66/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2304.5398 - mean_absolute_error: 2304.5398
Epoch 67/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2279.6101 - mean_absolute_error: 2279.6101
Epoch 68/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2293.4504 - mean_absolute_error: 2293.4504
Epoch 69/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2276.9695 - mean_absolute_error: 2276.9695
Epoch 70/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2276.2766 - mean_absolute_error: 2276.2766
Epoch 71/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2270.3955 - mean_absolute_error: 2270.3955
Epoch 72/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2262.3020 - mean_absolute_error: 2262.3020
Epoch 73/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2293.5745 - mean_absolute_error: 2293.5742
Epoch 74/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2255.4839 - mean_absolute_error: 2255.4839
Epoch 75/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2277.1772 - mean_absolute_error: 2277.1772
Epoch 76/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2277.7375 - mean_absolute_error: 2277.7375
Epoch 77/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2265.0825 - mean_absolute_error: 2265.0825
Epoch 78/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2262.6248 - mean_absolute_error: 2262.6248
Epoch 79/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2281.8306 - mean_absolute_error: 2281.8306
Epoch 80/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2269.5991 - mean_absolute_error: 2269.5991
Epoch 81/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2248.4167 - mean_absolute_error: 2248.4167
Epoch 82/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2266.9502 - mean_absolute_error: 2266.9502
Epoch 83/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2284.2249 - mean_absolute_error: 2284.2249
Epoch 84/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2271.6985 - mean_absolute_error: 2271.6985
Epoch 85/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2265.2119 - mean_absolute_error: 2265.2119
Epoch 86/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2232.2419 - mean_absolute_error: 2232.2419
Epoch 87/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2261.1658 - mean_absolute_error: 2261.1658
Epoch 88/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2300.6377 - mean_absolute_error: 2300.6377
Epoch 89/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2266.5127 - mean_absolute_error: 2266.5127
Epoch 90/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2238.7119 - mean_absolute_error: 2238.7119
Epoch 91/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2248.1292 - mean_absolute_error: 2248.1292
Epoch 92/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2239.0068 - mean_absolute_error: 2239.0068
Epoch 93/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 2249.0972 - mean_absolute_error: 2249.0972
Epoch 94/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - loss: 2240.6245 - mean_absolute_error: 2240.6245
Epoch 95/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - loss: 2238.6262 - mean_absolute_error: 2238.6262
Epoch 96/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 2256.3718 - mean_absolute_error: 2256.3718
Epoch 97/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2231.4714 - mean_absolute_error: 2231.4714
Epoch 98/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2237.4639 - mean_absolute_error: 2237.4639
Epoch 99/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 2216.3435 - mean_absolute_error: 2216.3435
Epoch 100/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 2238.0522 - mean_absolute_error: 2238.0522

In [113]:
X.shape

(359291, 316)

In [114]:
previsoes = regressor.predict(X)

  135/11228 ━━━━━━━━━━━━━━━━━━━━ 8s 759us/step

2024-11-25 19:11:10.850909: W external/local_tsl/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 454143824 exceeds 10% of free system memory.

11228/11228 ━━━━━━━━━━━━━━━━━━━━ 9s 762us/step

In [115]:
previsoes

array([[ 1193.2343],
       [11197.414 ],
       [13533.362 ],
       ...,
       [ 6754.1504],
       [ 3316.8958],
       [28320.107 ]], dtype=float32)

In [116]:
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990])

In [117]:
y.mean()

5916.833945186492

In [118]:
previsoes.mean()

5841.773

## Validacao Cruzada