In [3]:
import yfinance as yf

In [4]:
ticker = "BBAS3"
period = "5d"
ticker_obj = yf.Ticker(f"{ticker}.SA")

In [5]:
ticker_obj

yfinance.Ticker object <BBAS3.SA>

In [7]:
ticker_obj.history(period=period)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-01-17 00:00:00-03:00,25.440001,25.490000,25.190001,25.350000,13271300,0.0,0.0
2025-01-20 00:00:00-03:00,25.350000,25.600000,25.260000,25.430000,10499700,0.0,0.0
2025-01-21 00:00:00-03:00,25.450001,25.750000,25.450001,25.660000,10675500,0.0,0.0
2025-01-22 00:00:00-03:00,25.580000,26.280001,25.570000,26.129999,19236600,0.0,0.0
2025-01-23 00:00:00-03:00,26.240000,27.070000,26.240000,26.719999,30067700,0.0,0.0

In [15]:
def retorna_cotacao(ticker,periodo="1mo"):
    ticker_obj = yf.Ticker(f"{ticker}.SA")
    hist = ticker_obj.history(period=periodo)["Close"]
    hist.index = hist.index.strftime("%Y-%m-%d")
    hist = round(hist,2)

    # limitando em 30 resultados
    if len(hist) > 30:
        slice_size = int(len(hist) / 30)
        hist = hist.iloc[::-slice_size][::-1]

    return hist.to_json()

In [16]:
hist = retorna_cotacao("BBAS3","1y")
hist

'{"2024-01-26":26.28,"2024-02-07":27.42,"2024-02-21":27.42,"2024-03-04":26.61,"2024-03-14":26.35,"2024-03-26":25.99,"2024-04-08":26.9,"2024-04-18":25.96,"2024-04-30":25.48,"2024-05-13":25.86,"2024-05-23":25.04,"2024-06-05":25.36,"2024-06-17":25.19,"2024-06-27":25.43,"2024-07-09":24.95,"2024-07-19":25.82,"2024-07-31":25.28,"2024-08-12":25.83,"2024-08-22":27.12,"2024-09-03":27.76,"2024-09-13":27.69,"2024-09-25":26.6,"2024-10-07":26.3,"2024-10-17":26.04,"2024-10-29":25.5,"2024-11-08":25.32,"2024-11-22":24.94,"2024-12-04":24.99,"2024-12-16":24.16,"2024-12-30":24.17,"2025-01-13":24.21,"2025-01-23":26.72}'